@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dm-sans: var(--font-dm-sans);
  --font-alumni-sans: var(--font-alumni-sans);
  --font-plus-jakarta: var(--font-plus-jakarta);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}

.backend-gradient-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: flex;
}
.content-signup-card {
  position: relative;
  z-index: 2;
  height: 962px;
}
.left-bottom-gradient,
.right-top-gradient {
  width: 100%;
}
.left-bottom-gradient img,
.right-top-gradient img {
  width: 883.7274146769207px;
}
.left-bottom-gradient {
  margin-top: auto;
}
.left-bottom-gradient img {
  margin-top: auto;
  margin-left: 50px;
}
.right-top-gradient img {
  margin-left: auto;
}
.bg-gradient-custom {
  background: #040f1f;
}
.content-signup-card {
  backdrop-filter: blur(10px);
  overflow: hidden;
  border-radius: 20px;
}
.content-signup-card:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.5px;
  border-radius: 20px;
  background: linear-gradient(#5433ff, #20bdff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.form-title {
 font-family: var(--font-alumni-sans);
  letter-spacing: 2%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.form-title span.title-large {
  font-weight: 900;
  font-size: 150px;
  display: block;
  line-height: 140px;
}
.form-title span.title-small {
  font-weight: 800;
  font-size: 100px;
  display: block;
  line-height: 45px;
}
.form-card {
  padding: 45px;
  height: 100%;
}
.form-subtitle {
font-family: var(--font-dm-sans);
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1%;
  text-align: center;
  color: #ffffff;
  /* margin: 34px 0 24px 0; */
}
.form-input-custom input {
  border: 0.66px solid #ffffff3b;
  backdrop-filter: blur(20px);
  height: 48px;
  border-radius: 83.24px;
font-family: var(--font-dm-sans);
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background: #ffffff0d;
}
.form-input-custom input::placeholder {
font-family: var(--font-dm-sans);
  font-weight: 500;
  font-size: 16px;
  color: #A0AEC0;
}
.icon-input {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 1;
  top: 14px;
  left: 16.28px;
}
.btn-gradient {
  background: linear-gradient(91.37deg, #5433ff 3.68%, #20bdff 95.65%);
  backdrop-filter: blur(12.354148864746094px);
  height: 48px;
  border-radius: 87.62px;
  color: #ffffff;
  font-family: var(--font-plus-jakarta);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.form-area {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
}
.text-normal {
font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0%;
  text-align: center;
}
.social-login-area {
  margin-top: 40px;
}
.social-media-btn {
  width: 190px;
  height: 48px;
  position: relative;
  cursor: pointer;
}

.social-media-btn.gradient-border-btn:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.5px;
  border-radius: 87.62px;
  background: linear-gradient(#5433ff, #20bdff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.social-login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.social-media-btn .flex {
  height: 100%;
}
.btn-inner-social {
  color: #ffffff;
  font-family: var(--font-plus-jakarta);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 87.62px;
}
.having-account-text {
  font-family: DM Sans;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  margin: 30px 0 30px 0;
}
.signup-login-btn-wrapper {
  background: #020c1966;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 87.62px;
  cursor: pointer;
  backdrop-filter: blur(12.354148864746094px);
  padding: 6px;
  width: fit-content;
  margin: 30px auto;
}
.otp-form-input {
  width: 100%;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  border-bottom: 1.5px solid #676195;
}
.otp-form-input::placeholder {
  color: #ffffff;
}
.otp-form-input:focus-visible {
  outline: none;
}

.otp-form-input[value]:not([value=""]) {
  border-bottom: 1.5px solid #20bdff;
}

.signup-login-btn-wrapper .btn-custom {
  border-radius: 87.62px;
  color: #ffffff;
  font-family: var(--font-plus-jakarta);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  min-height: 45px;
  min-width: 165px;
}
.signup-login-btn-wrapper .btn-custom.active {
  background: linear-gradient(91.37deg, #5433ff 3.68%, #20bdff 95.65%);
}
.signup-login-btn-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.5px;
  border-radius: 87.62px;
  background: linear-gradient(#5433ff, #20bdff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.form-subtitle.verification-subtitle{
  margin-bottom: 30px !important;
}

/* ===============media queries=============== */
@media screen and (min-width:1920px) {
  .left-bottom-gradient img, .right-top-gradient img {
    min-width: 883.727px;
}
}
@media screen and (min-width:1536px) and (max-width:1919px) {
  .left-bottom-gradient img, .right-top-gradient img {
    min-width: 726.08px;
  }
  .content-signup-card{
    height:670px;
  }
  .social-login-area .text-normal{
    margin-bottom: 15px;
  }
.form-title span.title-large {
    font-size: 80px;
    line-height: 50px;
  
}
.form-title span.title-small{
  font-size: 50px;
  line-height: 30px;
  margin-top: 10px;
}
.form-subtitle {
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 30;
    font-size: 30px;
}
.having-account-text{
  margin-bottom: 0;
}
.signup-login-btn-wrapper{
  margin-top: 20px;
          margin-bottom: 25px;
}
.signup-login-btn-wrapper .btn-custom{
  min-height: 42px;
}
.form-input-custom input{
height: 42px;
}
.form-area {
    max-width: 347px;
}
.signup-login-btn-wrapper .btn-custom {
  min-width: 120px;
}
.form-area .form-input-custom{
  margin-bottom: 10px !important;
}
.form-area .btn-gradient{
  height: 42px;
  margin-top: 10px;
}
.social-login-area{
margin-top: 15px;
margin-bottom: 20px;
}
.form-area p.text-normal{
  margin-top: 19px;
  margin-bottom: 19px;
}
.icon-input {
    top: 12px;
}
.social-media-btn {
    height: 42px;
}
.having-account-text{
  margin-top: 15px;
}

}

@media screen and (max-width:1535px){

  .left-bottom-gradient img, .right-top-gradient img {
    min-width: 719.18px;
}
.signup-login-btn-wrapper .btn-custom {
  min-width: 100px;
}
.form-title span.title-large {
    font-size: 80px;
    line-height: 50px;
  
}
.form-title span.title-small{
  font-size: 50px;
  line-height: 30px;
  margin-top: 10px;
}
.signup-login-btn-wrapper .btn-custom {
  min-width: 100px;
  min-height: 34px;
}
.form-input-custom input{
height: 40px;
}
.content-signup-card{
  height: 635px;
}
.form-subtitle {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 0;
    line-height: 22px;
}
.icon-input {
    top: 10px;
}
.form-area{
  width: 340px;
}
.signup-login-btn-wrapper{
  margin: 15px auto 20px auto;
}
.form-area .btn-gradient{
  height: 40px;
  margin-top: 5px;
}
.social-login-area{
  margin-top: auto;
}
.form-area p.text-normal{
  margin-top: 13px;
  margin-bottom: 13px;
}
.social-login-area p.text-normal {
  margin-bottom: 15px !important;
}
.social-media-btn {
    height: 40px;
    width: 127;
}
.form-area .form-input-custom{
  margin-bottom: 7px;
}
.having-account-text {
    margin: 15px 0 0 0;
}
.form-card {
display:flex;
flex-direction: column;
}
}
@media screen and (max-width:1200px) {
  .left-bottom-gradient img, .right-top-gradient img {
    min-width: 650px;
}
    .content-signup-card {
        height: 640px;
    }
        .signup-login-btn-wrapper .btn-custom {
        min-width: 120px;
    }


}
@media screen and (max-width:1024px) {
  .left-bottom-gradient img, .right-top-gradient img {
    min-width: 550px;
}
    .content-signup-card {
        height: 650px;
    }
}
@media screen and (max-width:767px) {
  .left-bottom-gradient img, .right-top-gradient img {
    min-width: 550px;
    min-height: 200px;
}
    .form-area {
        width: 100%;
    }
    .form-card{
      padding: 45px 30px;
    }
       .content-signup-card {
        height: 100%;
        min-height: 700px;
        width: 90%;
    }
    .social-media-btn{
      width: 100%;
    }
    .social-login-area p.text-normal {
        margin-top: 15px;
    }
}

@media screen and (max-width:540px) {
  .right-top-gradient{
  order: -1;
  }
  .backend-gradient-wrapper{
  flex-wrap: wrap;
  }
      .left-bottom-gradient img, .right-top-gradient img {
      min-width: 350px;
      min-height: 200px;
  }
  .left-bottom-gradient img {
  margin-left: 0px;
  }
}

.verified-btn{
  margin-top: 80px !important;
  margin-bottom: 100px !important;
}